# -------------------------------------------------------------------------------------------------------------------------
# PAYMENT SERVICE MYSQL
# -------------------------------------------------------------------------------------------------------------------------
PAYMENT_SERVICE_MYSQL_DB_HOST=<database host name, e.g. payment-mysql>
PAYMENT_SERVICE_MYSQL_DB_PORT=<database port, e.g. 3306>
PAYMENT_SERVICE_MYSQL_DB_NAME=<database name, e.g. payments_db>
PAYMENT_SERVICE_MYSQL_DB_USER=<database user, e.g. user>
PAYMENT_SERVICE_MYSQL_DB_PASSWORD=<database user password, e.g. secret123>
PAYMENT_SERVICE_MYSQL_DB_ROOT_PASSWORD=<database root password, e.g. root123>
PAYMENT_SERVICE_MYSQL_INNODB_BUFFER_POOL_SIZE=<InnoDB buffer pool size, e.g. 256M>
PAYMENT_SERVICE_MYSQL_MAX_CONNECTIONS=<max number of connections, e.g. 200>

# -------------------------------------------------------------------------------------------------------------------------
# PAYMENT SERVICE
# -------------------------------------------------------------------------------------------------------------------------
PAYMENT_SERVICE_PORT=<application port, e.g. 8081>
PAYMENT_SERVICE_APPLICATION_NAME=<application name, e.g. payment-service>
PAYMENT_SERVICE_TPAY_API_URL=<TPay API URL, e.g. https://openapi.sandbox.tpay.com>
PAYMENT_SERVICE_TPAY_API_CLIENT_ID=<client ID from TPay dashboard, e.g. 01KNCY1CQWTABZW4DTEZNRCYB2>
PAYMENT_SERVICE_TPAY_API_CLIENT_SECRET=<client secret from TPay dashboard, e.g. b1dfa6ad360ce0f2...>

PAYMENT_SERVICE_TPAY_API_SECURITY_CODE=<security code from TPay dashboard, e.g. |c1W9)@EHI0F...>
PAYMENT_SERVICE_TPAY_APP_NOTIFICATION_URL=<public webhook URL for receiving TPay payment notifications, e.g. https://yourpublicdomain.com/payments/notification>
PAYMENT_SERVICE_TPAY_APP_RETURN_SUCCESS_URL=<redirect URL after successful payment, e.g. https://yourpublicdomain.com/payments/success>
PAYMENT_SERVICE_TPAY_APP_RETURN_ERROR_URL=<redirect URL after failed payment, e.g. https://yourpublicdomain.com/payments/error>

SWAGGER_UI_PORT=<Swagger UI port, e.g. 9000>
